@font-face {
    font-family: "newFont";
    src: url("./assets/JosefinSans-VariableFont_wght.ttf") format("woff2");
  }

  @keyframes blurry {
    from{
      color: rgba(255, 255, 255, 0);
    }
    to{
      color: white;
    }
  }
  
  html {
    font-size: 16px;
    height: 100vh;
  }
  
  body {
    height: 100%;
    font-family: "newFont", sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .header {
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 6.5em;
    background-color: burlywood;
  }
  
  .titol {
    text-align: center;
    font-size: 1.875em;
    color: white;
    margin-right: auto;
    margin-left: 5em;
    animation: blurry;
    animation-duration: 3s;
  }

  .titol span{
    font-size: 30px;
    transition: color 0.5s, font-size 0.5s, transform 0.5s;
    display: inline-block;
  }
  
  .titol span:hover{
    font-size: 40px;
    color: aqua;
    transform: rotate(360deg);
    transform-origin: center; 
  }

  
  
  .headerLink {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 10.9375em; 
    height: 3.5em;
    font-size: 1.25em; 
    color: white;
    text-decoration: none;
    margin-inline: 0.9375em; 
    font-weight: 700;
    transition: background-color 0.5s;
    border-radius: 5px;
  }
  
  .headerLink:hover {
    background-color:rgb(219, 173, 112);
  }
  
  .primeraSeccio {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top; 
  }
  
  .introTitol1 {
    margin: auto; 
    height: auto;
    font-size: 2.5em; 
    color: #ffffff;
    animation: blurry;
    animation-duration: 3s;
  }

  .introTitol1 span{
    font-size: 40px;
    transition: color 0.5s, font-size 0.5s, transform 0.2s;
    display: inline-block;
  }

  .introTitol1 span:hover{
    transform: rotate(360deg);
    transform-origin: center;
    font-size: 50px; 
    color: aqua;
  }
  
  .introTitol2 {
    margin: 0.3125em; 
    height: auto;
    font-size: 1em; 
    color: #ffffff;
    animation: blurry;
    animation-duration: 3s;
  }
  
  .presentacio {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5em; 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    width:fit-content;
    padding: 1.25em; 
    border-radius: 2px;
    color: antiquewhite;
    background-color: rgba(222, 184, 135, 0.903);
  }
  
  .fotoBarra {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  
  .segonaSeccio {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .segonaSeccio2 {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .t{
    font-size: 3em;
  }

  .containerRow{
    justify-content: center;
    align-items: center;
    margin-top: 3em;
  }

  .cntImg{
    float: left;
    width: 30%;
  }

  .cntText{
    width: 50%;
    float: right;
  }

  .cntImg1{
    float: right;
    width: 30%;
  }

  .cntText1{
    width: 50%;
    float: left;
  }

  .imgg{
    width: 100%;
  }

  .ttl{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(222, 184, 135, 0.903);
    color: white;
  }

  .grid {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 38% 38%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: 1em;
    grid-template-areas:
      "main header header"
      "main ft1 ft2"
      "main2 header2 header2"
      "main2 ft3 ft4";
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    border: solid 2px rgba(222, 184, 135, 0.903);
    width: 100%;
    height: 100%; 
    grid-area: main;
  }
  
  .infoMenu {
    width: 100%; 
    height: 100%; 
    grid-area: header;
  }
  
  .ft1 {
    width: 100%; 
    height: 100%; 
    grid-area: ft1;
  }
  
  .ft2 {
    width: 100%; 
    height: 100%; 
    grid-area: ft2;
  }

  .menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
    border: solid 2px rgba(222, 184, 135, 0.903);
    width: 100%;
    height: 100%; 
    grid-area: main2;
  }
  
  .infoMenu1 {
    width: 100%;
    height: 100%;
    grid-area: header2;
  }
  
  .ft11 {
    width: 100%; 
    height: 100%;
    grid-area: ft3;
  }
  
  .ft21 {
    width: 100%; 
    height: 100%;
    grid-area: ft4; 
  }

  .terceraSeccio{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .galeria{
    margin-left: auto;
    margin-right: auto;   
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 50% 50%;
    gap: 1em;
    overflow: hidden;
    z-index: -100;
    grid-template-areas:  
      "p1 p2 p3 p4"
      "p5 p6 p7 p8"
;
  }

  .titolGaleria{
    color: black;
    grid-area: ttl;
  }

  .ftt1{
    width: 100%;
    height: 100%;
    grid-area: p1;
    filter: brightness(50%);
  }
  .ftt2{
    width: 100%;
    height: 100%;
    grid-area: p2;
  }
  .ftt3{
    width: 100%;
    height: 100%;
    grid-area: p3;
  }
  .ftt4{
    width: 100%;
    height: 100%;
    grid-area: p4;
    filter: brightness(50%);
  }
  .ftt5{
    width: 100%;
    height: 100%;
    grid-area: p5;
    filter: brightness(50%);
  }
  .ftt6{
    width: 100%;
    height: 100%;
    grid-area: p6;
  }
  .ftt7{
    width: 100%;
    height: 100%;
    grid-area: p7;
  }
  .ftt8{
    width: 100%;
    height: 100%;
    grid-area: p8;
    filter: brightness(50%);
  }

  .footer{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-top: 2em;
    justify-content: space-around;
    margin-bottom: 0%;
    background-color: rgba(222, 184, 135, 0.903);;
  }

  .imgIcon{
    width: 1.5em;
    height: auto;
  }

  .cont{
    overflow: hidden;
  }

  #pic{
    transition: transform 0.5s, filter 0.5s;
  }

  #pic:hover{
    transform: rotate(-20deg) scale(1.5);
    filter: grayscale(60%);
  }

  .video{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    height: auto;
    z-index: -100;
  }

  .navVideo{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.406);
    z-index: 1;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .videoButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
  }

  .videoR{
    margin-top: none;
    z-index: -1;
    width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 1025px) {
    .header {
      display: flex;
      flex-direction: row;
      position: fixed;
      top: 0;
      align-items: center;
      text-align: center;
      width: 100%;
      height: auto;
      min-height: 6.5em;
      background-color: burlywood;
    }
    
    .titol {
      font-size: 1.5em;
      width: fit-content;
      color: white;
      margin: 0px;
      transition: font-size 0.5s, color 0.5s, transform 0.5s;
    }

    .titol span:hover{
      font-size: 2em;
      color: aqua;
      transform: rotate(15deg);
    }
    
    .headerLink {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 8em; 
      height: 2.5em;
      font-size: 0.75em; 
      color: white;
      text-decoration: none;
      margin-inline: 0.9375em; 
      font-weight: 700;
      transition: background-color 0.5s;
      border-radius: 5px;
    }
    
    .headerLink:hover {
      background-color:rgb(219, 173, 112);
    }
    .grid {
      margin-top: 20px;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 25% 70%;
      grid-template-rows: 15% 15% 15% 15% 15% 15%;
      gap: 1em;
      grid-template-areas:
        "main header "
        "main ft1"
        "main ft2"
        "main2 header2 "
        "main2 ft3"
        "main2 ft4"
    }

    .primeraSeccio{
      height: 50vh;
    }

    .titol {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 0.9375em; 
      margin-bottom: 0.3125em; 
    }
  
    .fotoBarra {
      width: 100%;
    }
  
    .header {
      flex-direction: column;
    }
  
    .presentacio {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .cntImg{
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .cntImg1{
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
  
    .cntText{
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .cntText1{
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .containerRow{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .segonaSeccio{
      margin-top: 6em;
    }

    .t{
      text-align: center;
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 470px){
    .galeria{
      width: 90%;
    }
    .imgIcon{
      width: 0.75em;
      height: auto;
    }
    .correu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }
    .telefon{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }
    .header {
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      width: 100%;
      height: auto;
      min-height: 6.5em;
      background-color: burlywood;
    }
    
    .titol {
      display: flex;
      flex-direction: row ;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.875em;
      color: white;
      margin-right: auto; 
    }
    
    .headerLink {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 10em; 
      height: 2.5em;
      font-size: 0.75em; 
      color: white;
      text-decoration: none;
      margin-inline: 0.9375em; 
      font-weight: 700;
      transition: background-color 0.5s;
      border-radius: 5px;
    }
    
    .headerLink:hover {
      background-color:rgb(219, 173, 112);
    }
  }